<{include file="./header.tpl"}>
<script LANGUAGE="JavaScript">
    function getFlashLine(key){
        var columnChart = new FusionCharts(
            {
                type: 'zoomline', //'scrollline2d', //'scrollstackedcolumn2d',
                id: 'ex1',
                width: '100%',
                height: 400,
                renderAt: 'online',
                dataFormat: 'json',
                dataSource: '<{$data_source}>',
          });
        // Render the chart
        columnChart.render();
    }
</script>

<div id="online" align="center"></div>
<script type="text/javascript">getFlashLine('online');</script>

<{include file="./footer.tpl"}>
