<{include file="./header.tpl"}>

<div class='input'>
	<form method="POST">
	<input type="hidden" name="oper" value="buy" />
	代码：<input type="text" name="code">
	数量：<input type="text" name="count">
	价格：<input type="text" name="price">
	开始日期：
		<script type="text/javascript" src="js/calendar.js"></script>
		<input type="text" id="date" name="date" value="<{$data.date}>" onclick="calendar.show(this);" size="10" maxlength="10" readonly="readonly" />
	时间:
		<input type="text" name="time" value=<{$data.time}> size="10" maxlength="8" />  
	<input type="submit" value="买入">
	</form>
</div>
<div class='input'>
	<form method="POST">
	<input type="hidden" name="oper" value="sell" />
	代码：<input type="text" name="code">
	数量：<input type="text" name="count">
	价格：<input type="text" name="price">
	开始日期：
		<script type="text/javascript" src="js/calendar.js"></script>
		<input type="text" id="date" name="date" value="<{$data.date}>" onclick="calendar.show(this);" size="10" maxlength="10" readonly="readonly" />
	时间:
		<input type="text" name="time" value=<{$data.time}> size="10" maxlength="8" />  
	<input type="submit" value="卖出">
	</form>
</div>

<{include file="./footer.tpl"}>